* {
    /*vertical-align: baseline;*/
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

body{
	overflow-y: scroll;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
border: none;
}

#table_command{
	width: 100%;
}

.table_footer{
	background: lightgray;
	text-align: center;
	height: 26px
}

th{
	background: gray;
	color:#fff;
}

.numer{
	background: lightgray;
	width: 40px;
	text-align: center;
}

.group{
	width: 30px;
	text-align: center;
}

.gr_input{
	vertical-align: inherit;
}

.command{

}

.but_run{
	width: 70px;
	padding-left: 5px;
	background: lightgray;
}

.del{
	width: 50px;
	padding-left: 5px;
	background: lightgray;
}

.sbutton{
	border: 1px solid gray;
	margin: -1px;
	width: 100%;
	border-radius: 3px;
	height: 20px;
	color:black;
	background: lightgreen;
	cursor: pointer;
}

.sbutton:hover{
	background: green;
	color: #fff;

}

.abutton{
	border: 1px solid #fff;
	margin: -1px;
	border-radius: 5px;
	height: 20px;
	color:black;
	margin-right: 10px;
	padding-left:5px;
	padding-right: 5px;
	background: lightgreen;
}

.abutton:hover{
	background: green;
	color:#fff;
	cursor: pointer;

}

.abutton:active{
	background: gray;

}

.input_run{
	border: 1px solid gray;
	width: 100%;
}

.status{
	width: 70px;
	background: lightgray;
	text-align: center;
}

#contents{
	height: 600px;
	width: 100%;
	/*height: 100%;*/
}

#tab_list{
	border: 1px solid;
	height: 32px;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding-right: 5px;
}

#tab_list button{
	width: 70px;
	height: 30px;
	margin: 1px 0px 1px 5px;
	border: 2px solid gray;
	background: #fff;
	position: static;
	background: #444;
	color:#fff;
	font-weight: bold;
}

.content_view{
	/*height: 400px;*/
	margin-top: 10px;
	margin-left: 10px;
	word-break: break-all;
}

.menu{
	border: 1px solid gray;
	margin: 5px 0px 5px 5px;
	padding: 0px 2px 0px 2px;
}

.menu:hover{
	background: green;
	color:#fff;
} 